:root {
  --pico-font-size: 100%;

  --pico-red: rgb(175, 41, 29);
  --pico-red-hover: rgb(197, 47, 33);
  --pico-red-focus: rgba(197, 47, 33, 0.375);

  --pico-azure: rgb(1, 127, 192);

  --modal-distance: 1em;
  --modal-shrink: .95;
  --modal-duration: .2s;
}

:where(button, [role=button]) {
  &.danger {
    --pico-background-color: var(--pico-red);
    --pico-border-color: var(--pico-red);
    --pico-color: #fff;

    &:is(:hover, :active, :focus) {
      --pico-background-color: var(--pico-red-hover);
      --pico-border-color: var(--pico-red-hover);
    }

    &:is(:active, :focus) {
      --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--pico-outline-width) var(--pico-red-focus);
    }
  }
}

body>header {
  padding-top: 0;
  padding-bottom: 0;
}

article :where(ul, ol, p, blockquote, pre, table, dl, hr) {
  color: inherit;
}

article.alert {
  &:empty {
    display: none;
  }

  &::before {
    display: inline-block;
    font-family: bootstrap-icons;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    margin-right: .5em;
    -webkit-font-smoothing: antialiased;
  }

  &.info {
    background: var(--pico-azure);
    color: #fff;

    &::before {
      content: '\F431';
    }
  }

  &.danger {
    background: var(--pico-red);
    color: #fff;

    &::before {
      content: '\F33A';
    }
  }
}

:has(a.stretch) {
  position: relative;

  .stretch {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

details.dropdown>summary+ul li:has(>hr) {
  padding: 0;

  >hr {
    margin: .75em 0;
  }
}

.bottom-spacing {
  margin-bottom: var(--pico-spacing);
}

.bottom-clear {
  margin-bottom: 0;

  &.children>* {
    margin-bottom: 0;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: .5em;

  >*,
  input:not([type=checkbox], [type=radio]),
  select,
  textarea,
  button,
  [role=button] {
    margin-bottom: 0;
  }

  &.fill>* {
    flex: 1 1 auto;
    width: 100%;
  }

  &.spread {
    justify-content: space-between;
  }
}

table tr td {

  >*,
  input:not([type=checkbox], [type=radio]),
  select,
  textarea,
  button,
  [role=button] {
    margin-bottom: 0;
  }
}

.bordered:has(table) {
  border: 1px solid var(--pico-accordion-border-color);
  border-radius: var(--pico-border-radius);

  >table {
    margin-bottom: 0;
    border-bottom: none;

    tr:last-child td {
      border-bottom: none;
    }
  }
}

.center {
  text-align: center;
}

.center-form {
  max-inline-size: 320px;
  margin-inline: auto;
}

label:has([required])::before {
  content: "*";
  color: var(--pico-red);
}

@media (max-width: 767px) {
  :where(button, [role=button]):has(>i.bi) {
    font-size: 0;

    i.bi {
      font-size: 1rem;
      vertical-align: middle;
    }
  }

  .grid {
    grid-row-gap: 0;
  }
}

textarea.code {
  font-family: monospace;
  font-size: .9rem;
}

iframe {
  border-radius: var(--pico-border-radius);
}

dialog {
  animation: pvfadeout var(--modal-duration) ease-out forwards;
}

dialog[open] {
  animation: pvfadein var(--modal-duration) ease-in forwards;
}

.modal-is-open {
  pointer-events: auto;
  touch-action: auto;
}

dialog>article {
  animation: pvslidedown var(--modal-duration) ease-out forwards;
}

dialog[open]>article {
  animation: pvslideup var(--modal-duration) ease-in forwards;
}

@keyframes pvfadein {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: flex;
  }
}

@keyframes pvfadeout {
  0% {
    opacity: 1;
    display: flex;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes pvslideup {
  0% {
    margin-top: var(--modal-distance);
    transform: scale(var(--modal-shrink));
  }

  100% {
    margin-top: 0;
    transform: scale(1);
  }
}

@keyframes pvslidedown {
  0% {
    margin-top: 0;
    transform: scale(1);
  }

  100% {
    margin-top: var(--modal-distance);
    transform: scale(var(--modal-shrink));
  }
}